<% @page_title = 'Teletrack - Edit Users' %>

<div id="box">
<%= form_for @staff do |f| %>
	<% if @staff.errors.any? %>
	  <div class="error_messages">
	    <h2>Form is invalid</h2>
	    <ul>
	      <% for message in @staff.errors.full_messages %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>
	<table>
		<tr>
	        <td id="label" align="right"><%= f.label :user_name %></td>
	        <td><%= f.text_field :name %></d>
	    </tr>
	    <tr>
	        <td id="label" align="right"><%= f.label :email %></td>
	        <td><%= f.text_field :email %></d>
	    </tr>
	    <tr>
	    	<td id="label" align="right"><%= f.label :password %></td>
	        <td><%= f.password_field :password %></td>
	    </tr>
	    <tr>
	  		<td align="center" colspan= "2" class="button"><%= f.submit "Update" %></td>
	    </ttr
	</table>
<% end %>
</div>
