<% @page_title = 'Teletrack - Editing Ticket #' + @ticket.id.to_s %>

<p>
  <b>Ticket:</b>
  <%=h @note.ticket_id %>
</p>

<p>
  <b>Staff:</b>
  <%=h @note.staff_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @note.note_text %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Tickets', tickets_path %>
